/*  Base styles for footer  */

body {
  margin: 0;
}

.footer {
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  height: 60px;
  background: black;
  position: fixed;
  bottom: 0;
}

.footer ul {
  padding-left: 0;
  margin: 0;
  padding: 1em 1em;
}

.footer li {
   display: inline-block;
   text-decoration: none;
   color: white;
   padding: 0 1rem;
}

.footer a {
  text-decoration: none;
  color: white;
  padding: 0 1.5em;
}

.footer img {
  max-height: 1.5rem;
  max-width: 2rem;
}

.footer img:hover {
  cursor: alias;
  padding: 0 1rem;
}

.footer a:hover {
  color: black;
  background: white;
  border-radius:10px;
}
