
/*
FONT FAMILIES AVAILABLE 

font-family: 'Crimson Text', serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Noto Serif', serif;

LINK FOR INDEX.HTML DOC

  <link href='https://fonts.googleapis.com/css?family=Noto+Serif|Libre+Baskerville|Crimson+Text' rel='stylesheet' type='text/css'>  

*/


#container {
  width: 80%;
  margin: 0 auto;
}

.fullWidthImage {
  width: 100%;
}

.sectionParagraph {
}

.section {

}

.sectionHeading {
  text-align: center;
}

.sectionSubHeading {
  text-align: center;
}

.sectionSubSubHeading {
  text-align: center;
}

/*index.html special styling*/
#companyInfo h1 {
/*	padding: 0 25%;*/
	margin: 20px;
	text-align: center;
	font-size: 2.5rem;
	font-family: 'Noto Serif', serif;
}

#companyInfo p {
	padding: 0 15%;
	text-align: justify;
	font-size: 1.25rem;
	font-family: 'Libre Baskerville', serif;
	color: #888;
}





.inputText {
}

.textArea {

}

.buyNowButton {
}

.emailLink {
}

